body {
    font-family: 'Telstra Akkurat', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    background-blend-mode: screen;
    margin: 0;
}


@media (min-width: 320px) {
    body {
        background: url('/assets/gridsynth-bg-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 540px) {
    body {
        background: url('/assets/gridsynth-bg-tablet.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px) {
    body {
        background: url('/assets/gridsynth-bg-desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.high-contrast {
    background-image: unset;
    background-color: #1e0342;
}

#p5-wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
}

#content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
}

.skip-link {
    background: #fff;
    color: #6628e7;
    font-weight: 700;
    left: 0;
    padding: 1em;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-link:focus {
    transform: translateY(0%);
}

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 998;
    padding: 1.5em 2.5em 0 2.5em;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 400px) {
    header {
        display: block;
        text-align: center;
    }

    nav ul {
        padding-left: 0;
    }

    nav ul li:first-child {
        padding-left: 0;
    }
}

nav ul {
    list-style-type: none;
}

nav ul li {
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
    padding: 0 .75em;
}

nav a {
    color: #ffffff;
}

main {
    width: 80%;
    margin: auto;
    overflow: auto;
    text-align: center;
}

button {
    border: 3px #fff solid;
    background-color: transparent;
    color: #fff;
    border-radius: 30px;
    font-size: 1.5em;
    min-width: 140px;
    padding: 16px 32px;
    transition: all ease-in-out .2s;
    margin: 8px 4px 24px 4px;
}

button:hover {
    background-color: transparent;
    color: #fff;
    transition: all ease-in-out .2s;
}

.menu-button {
    border: none;
    font-size: 1em;
    padding: .25em .25em;
    margin: 0;
    min-width: unset;
    text-decoration: underline;
}

.toggle-button {
    padding: 0;
    margin: 0 0 0 .5em;
    font-size: 1em;
    min-width: 44px;
    min-height: 44px;
}

[role="switch"][aria-checked="false"] :first-child, 
[role="switch"][aria-checked="true"] :last-child {
  background: #fff;
  color: #6628e7;
  transition: all ease-in-out .2s;
}

.high-contrast [role="switch"][aria-checked="false"] :first-child, 
.high-contrast [role="switch"][aria-checked="true"] :last-child, .high-contrast .emphasis, .high-contrast .emphasis:hover, .high-contrast .emphasis::before {
  background: #fff;
  color: #1e0342;
  -webkit-box-shadow: unset;
    box-shadow: unset;
    transition: all ease-in-out .2s;

}

[role="switch"][aria-checked="false"] :first-child {
    padding-right: .7em;
    transition: all ease-in-out .2s;
}

[role="switch"][aria-checked="true"] :last-child {
    padding-left: .7em;
    transition: all ease-in-out .2s;
}

.toggle-button span {
    display: inline-block;
    padding: 0.25em .5em 0.3em .5em;
    border-radius: 30px;
    transition: all ease-in-out .2s;
}

button.emphasis {
    position: relative;
    background-color: #fff;
    border-color: #fff;
    color: #6628e7;
    transition: all ease-in-out .2s;
}

button.emphasis:hover {
    background-color: #fff;
    border-color: #fff;
    color: #6628e7;
    transition: all ease-in-out .2s;
}

button.emphasis::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border-color: #6628e7;
    border-radius: 80px;
    -webkit-box-shadow: 0px 3px 9px 3px rgba(105, 50, 231, 0.6);
    box-shadow: 0px 3px 9px 3px rgba(105, 50, 231, 0.6);
    mix-blend-mode: multiply;
    transition: all ease-in-out .2s;
    z-index: -998;
}

button.emphasis:hover::before {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(105, 50, 231, 0);
    box-shadow: 0px 0px 0px 0px rgba(105, 50, 231, 0);
    transition: all ease-in-out .2s;
}


.display {
    font-size: 3em;
    font-weight: bold;
    text-transform: lowercase;
    margin-top: 0;
}

.subtitle {
    font-size: 3em;
    text-transform: lowercase;
}

#about {
    background: #fff;
    color:#1e0342;
    padding: 3em 4em;
    /* border-radius: 30px 0 0 30px; */
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    overflow: auto;
    z-index: 99999;
    transition: right ease-in-out 1s;
}

.high-contrast #about {
    background: #311a5d;
    color: #fff;
}

#about.hidden {
    right: -100vw;
    transition: right ease-in-out 1s;
}

#about p, #about ul {
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.15em;
}

/* .high-contrast #about p, .high-contrast #about ul {
    font-weight: 400;
} */

#about ul ul {
    font-size: 1em;
}